/* All */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.5em;
    background-color: #3A4449;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    color: #247099;
}

img {
    border: solid 3px hsl(203, 14%, 19%);
}

a {
    text-decoration: none;
    color: #247099;
}



/* gray line with blue light */

.grayline {
    height: 4px;
    background-color: #343C3F;
    padding: 0;
    margin: 0;

}

@keyframes animatedBackground {
    from {
        background-position: -180px 0;

    }

    to {
        background-position: 120% 0;

    }
}

#animate-area {
    width: 100%;
    height: 4px;
    background-image: url(./images/bluelight.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    animation: animatedBackground 3s ease forwards;
}



/* header */

.header {
    background-color: black;
    clear: both;
    min-height: 130px;
    margin-top: 0px;
    position: relative;
}

.logo-width {
    max-width: 200px;
}

.logo {
    width: 200px;
    padding: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.logo img {
    border: none;
}

.paypalme {
    position: absolute;
    top: 50px;
    right: 100px;
    z-index: 100;
}




/* header navigation */

nav {
    position: absolute;
    top: 50px;
    right: 30px;
    width: 800px;
    text-align: right;
}

nav ul li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: .7em;
}

.phone {
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 100;
}

.phone a {
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
}



/* display */

.display {
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin-top: 34px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.display-box {
    width: 33%;
    border: none;
}

.display-box img {
    width: 100%;
    border: none;
}

.box-label {
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 10px;
    background-color: black;
    font-family: 'Barlow Condensed', sans-serif;
    color: #247099;
}




/* main */

section {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    min-height: 500px;
}

section p {
    padding-top: 20px;
}

.outer {
    min-height: 100px;
}





/* gallery */

.gallery {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.gallery-pic {
    width: 300px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.gallery-pic img {
    width: 320px;
}

.gallery2 {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.gallery-pic2 {
    width: 300px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.gallery-pic2 img {
    width: 300px;
}

.spacer {
    height: 200px;
}

.project-img {
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.illustration {
    text-align: center;
}

.illustration img {
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.project1 {
    padding: 40px;
}

.project2 {
    padding: 40px;
}

.project3 {
    padding: 40px;
}




/* footer */

footer {
    min-height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

footer .footer-box {
    width: 30%;
    min-height: 300px;
    border: solid 2px gray;
    margin-top: 40px;
    margin-bottom: 40px;
}



/* screens less than 540 px */

@media screen and (max-width: 540px) {
    header {
        height: 140px;
    }

    .display {
        margin-top: 15px;
    }

    .box-label {
        font-size: .8em;
        min-height: 60px;
    }

    .logo {
        width: 150px;
        top: 10px;
        left: 10px;
    }

    nav {
        top: 100px;
        left: 0px;
        width: 100%;
        text-align: center;
    }

    .phone {
        font-size: .7em;
    }
}



/* screens less than 1060px */

@media screen and (max-width: 1060px) {
    .nav-bar-bg {
        position: absolute;
        right: 50px;
        top: 117px;
        background-color: #2D2D2D;
        width: 50%;
        height: 57px;
        z-index: 100;
    }
}